<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njl.dao.NotificationMapper">
  <resultMap id="BaseResultMap" type="com.njl.bean.Notification">
    <id column="noid" jdbcType="INTEGER" property="noid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="conditionck" jdbcType="INTEGER" property="conditionck" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="checkuser" jdbcType="INTEGER" property="checkuser" />
  </resultMap>
  <resultMap id="WithUserResultMap" type="com.njl.bean.Notification">
    <id column="noid" jdbcType="INTEGER" property="noid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="conditionck" jdbcType="INTEGER" property="conditionck" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="checkuser" jdbcType="INTEGER" property="checkuser" />
    <!-- 使用association 指定联合查询出的字段的封装 -->
    <association property="user" javaType="com.njl.bean.User">
    	<id column="userid" property="userid"/>
    	<result column="username" property="username"/>
    	<result column="nickname" property="nickname"/>
    	<result column="studentid" property="studentid"/>
    	<result column="sex" property="sex"/>
    	<result column="headurl" property="headurl"/>
    </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    noid, userid, title, content, conditionck, priority, createtime, checkuser
  </sql>
  <sql id="WithUser_Column_List">
    n.noid, n.userid, n.title, n.content, n.conditionck, n.priority, n.createtime, n.checkuser, u.userid, u.username, u.nickname, u.studentid, u.sex, u.headurl
  </sql>
  
  <!--  List<Notification> selectByExampleWithUser(NotificationExample example);
    	Notification selectByPrimaryKeyWithUser(Integer noid); -->
  <select id="selectByExampleWithUser" resultMap="WithUserResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="WithUser_Column_List" />
    from t_notification n
    LEFT JOIN t_user u ON n.userid = u.userid 
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause} DESC
    </if>
  </select>
  <select id="selectByPrimaryKeyWithUser" resultMap="WithUserResultMap">
    select 
    <include refid="WithUser_Column_List" />
    from t_notification n
    LEFT JOIN t_user u ON n.userid = u.userid 
    where noid = #{noid,jdbcType=INTEGER}
  </select>

  <!-- 原生 -->
  <select id="selectByExample" parameterType="com.njl.bean.NotificationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_notification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause} DESC
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_notification
    where noid = #{noid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_notification
    where noid = #{noid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.njl.bean.NotificationExample">
    delete from t_notification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.njl.bean.Notification">
    insert into t_notification (noid, userid, title, 
      content, conditionck, priority, 
      createtime, checkuser)
    values (#{noid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{conditionck,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{checkuser,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.njl.bean.Notification">
    insert into t_notification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noid != null">
        noid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="conditionck != null">
        conditionck,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="checkuser != null">
        checkuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noid != null">
        #{noid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="conditionck != null">
        #{conditionck,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkuser != null">
        #{checkuser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.njl.bean.NotificationExample" resultType="java.lang.Long">
    select count(*) from t_notification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_notification
    <set>
      <if test="record.noid != null">
        noid = #{record.noid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.conditionck != null">
        conditionck = #{record.conditionck,jdbcType=INTEGER},
      </if>
      <if test="record.priority != null">
        priority = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkuser != null">
        checkuser = #{record.checkuser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_notification
    set noid = #{record.noid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      conditionck = #{record.conditionck,jdbcType=INTEGER},
      priority = #{record.priority,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      checkuser = #{record.checkuser,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.njl.bean.Notification">
    update t_notification
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="conditionck != null">
        conditionck = #{conditionck,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkuser != null">
        checkuser = #{checkuser,jdbcType=INTEGER},
      </if>
    </set>
    where noid = #{noid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njl.bean.Notification">
    update t_notification
    set userid = #{userid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      conditionck = #{conditionck,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      checkuser = #{checkuser,jdbcType=INTEGER}
    where noid = #{noid,jdbcType=INTEGER}
  </update>
</mapper>