<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njl.dao.UsedMapper">
  <resultMap id="BaseResultMap" type="com.njl.bean.Used">
    <id column="usedid" jdbcType="INTEGER" property="usedid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="pictureurl" jdbcType="VARCHAR" property="pictureurl" />
    <result column="attentiontimes" jdbcType="INTEGER" property="attentiontimes" />
    <result column="replytimes" jdbcType="INTEGER" property="replytimes" />
  </resultMap>
  <resultMap id="WithUserResultMap" type="com.njl.bean.Used">
  	<id column="usedid" jdbcType="INTEGER" property="usedid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="pictureurl" jdbcType="VARCHAR" property="pictureurl" />
    <result column="attentiontimes" jdbcType="INTEGER" property="attentiontimes" />
    <result column="replytimes" jdbcType="INTEGER" property="replytimes" />
    <!-- 使用association 指定联合查询出的字段的封装 -->
    <association property="user" javaType="com.njl.bean.User">
    	<id column="userid" property="userid"/>
    	<result column="nickname" property="nickname"/>
    	<result column="studentid" property="studentid"/>
    	<result column="sex" property="sex"/>
    	<result column="headurl" property="headurl"/>
    </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    usedid, userid, createtime, title, price, contact, content, pictureurl, attentiontimes, replytimes
  </sql>
  <sql id="WithUser_Column_List">
  	ud.usedid, ud.userid, ud.createtime, ud.title, ud.price, ud.contact, ud.content, ud.pictureurl, ud.attentiontimes, ud.replytimes, u.userid, u.nickname, u.studentid, u.sex, u.headurl
  </sql>
  
  <!--  List<Used> selectByExampleWithUser(UsedExample example);
    	Used selectByPrimaryKeyWithUser(Integer usedid); -->
  <select id="selectByExampleWithUser" resultMap="WithUserResultMap">
  	select
    <if test="distinct">
      distinct
    </if>
    <include refid="WithUser_Column_List" />
    from t_used ud
	LEFT JOIN t_user u ON ud.userid = u.userid 
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause} DESC
    </if>
  </select>
  <select id="selectByPrimaryKeyWithUser" resultMap="WithUserResultMap">
  	select 
    <include refid="WithUser_Column_List" />
    from t_used ud
	LEFT JOIN t_user u ON ud.userid = u.userid 
    where usedid = #{usedid,jdbcType=INTEGER}
  </select>
  <!-- 原生的 -->
  <select id="selectByExample" parameterType="com.njl.bean.UsedExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_used
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause} DESC
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_used
    where usedid = #{usedid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_used
    where usedid = #{usedid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.njl.bean.UsedExample">
    delete from t_used
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.njl.bean.Used">
    insert into t_used (usedid, userid, createtime, 
      title, price, contact, 
      content, pictureurl, attentiontimes
      )
    values (#{usedid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{title,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{contact,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{pictureurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.njl.bean.Used">
    insert into t_used
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usedid != null">
        usedid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="pictureurl != null">
        pictureurl,
      </if>
      <if test="attentiontimes != null">
        attentiontimes,
      </if>
      <if test="replytimes != null">
        replytimes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usedid != null">
        #{usedid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="pictureurl != null">
        #{pictureurl,jdbcType=VARCHAR},
      </if>
      <if test="attentiontimes != null">
        #{attentiontimes,jdbcType=INTEGER},
      </if>
      <if test="replytimes != null">
        #{replytimes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.njl.bean.UsedExample" resultType="java.lang.Long">
    select count(*) from t_used
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_used
    <set>
      <if test="record.usedid != null">
        usedid = #{record.usedid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.contact != null">
        contact = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.pictureurl != null">
        pictureurl = #{record.pictureurl,jdbcType=VARCHAR},
      </if>
      <if test="record.attentiontimes != null">
        attentiontimes = #{record.attentiontimes,jdbcType=INTEGER},
      </if>
      <if test="record.replytimes != null">
        replytimes = #{record.replytimes,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_used
    set usedid = #{record.usedid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      title = #{record.title,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=REAL},
      contact = #{record.contact,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      pictureurl = #{record.pictureurl,jdbcType=VARCHAR},
      attentiontimes = #{record.attentiontimes,jdbcType=INTEGER},
      replytimes = #{record.replytimes,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.njl.bean.Used">
    update t_used
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="pictureurl != null">
        pictureurl = #{pictureurl,jdbcType=VARCHAR},
      </if>
      <if test="attentiontimes != null">
        attentiontimes = #{attentiontimes,jdbcType=INTEGER},
      </if>
      <if test="replytimes != null">
        replytimes = #{replytimes,jdbcType=INTEGER},
      </if>
    </set>
    where usedid = #{usedid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njl.bean.Used">
    update t_used
    set userid = #{userid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      contact = #{contact,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      pictureurl = #{pictureurl,jdbcType=VARCHAR},
      attentiontimes = #{attentiontimes,jdbcType=INTEGER},
      replytimes = #{replytimes,jdbcType=INTEGER}
    where usedid = #{usedid,jdbcType=INTEGER}
  </update>
</mapper>